BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
NamespaceIndentation: None
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
Standard: c++20
